html {
    height: 100%;
}
body {
    /* padding: 0px 24px 0px 0px; */
    padding: 0;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > div {
    height: 100%;
    /* flex-grow: 1; */
    display: flex;
}

header {
    width: 100%;
    background-color: #222;
    box-shadow: 2px 2px 5px #555;
    font-size: 2.4em;
    padding: 0.6em;
    text-align: center;
    box-sizing: border-box;
    color: #EEE;
    z-index: 3;
}

img#logo {
    height: 1.6em;
    /* margin: auto; */
}

nav {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
nav > div {
    /* flex-grow: 1; */
}
article {
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    box-shadow: 2px 2px 5px #555;
    z-index: 2; 
    padding: 0 1em;
    background-color: #777;  
    overflow: hidden;  
}
article > div, article > div > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100%;
    min-height: 0;
}
nav > div.alarm {
    background-color: #FF1111 !important;
    z-index: 2;
    color: white;
}

nav > div.active {
    background-color: #777;
    z-index: 2;
}

div.mainbutton {
    padding: 1em 0.7em;
    background-color: #222;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #555;     
    text-align: center;
    font-size: 1.6em;
    z-index: 1;
    min-width: 7em;
    transition: background-color 0.25s, color 0.25s;
    cursor: pointer;
}

.ECG {
    color: turquoise;
    border-color: turquoise;
}
.PPG {
    color: #FF55EE;
    border-color: #DD22AA;
}
.Steps {
    color: yellow;
    border-color: yellow;
}

div#main {

}

div#main > div {
    height: 25%;
    border: 1px solid;
    margin: 16px;
}

div#PPGplotIR, div#PPGplotRD {
    height: 40%;
    border: 1px solid;
    margin: 0.7em;
}

.invisible {
    display: none;
}

.scanningplot > svg {
    width: 100%;
    height: 100%;
}

.buttonvalue {
    font-size: 2em;
}

.buttonunit {
    font-size: 0.9em;
}

#mainwindow {
    transition: filter 1s;
}
.offline {
    filter: blur(5px);
    pointer-events: none;    
}

.statfield {
    font-size: 1.2em;
    margin: 0.5em;
    box-sizing: border-box;
    min-width: 10em;
    flex-grow: 1;
}

input[type="radio"] {
    margin-right: 1em;
    margin-left: 1em;
}

.flexCol {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    min-width: 0;
    justify-content: space-evenly;    
}

.flexRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 0;
    justify-content: flex-start;
}

.gauge {
    height: 100%;
    margin: auto;
    padding: 1em;
    /* min-width: 25%; */
    box-sizing: border-box;
    /* display: inline; */
    align-self: center;
}

h3 {
    font-weight: normal;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

ul {
    margin-top: 0;
}

.statspage {
    background-color: white;
    color: #444;
    box-shadow: 2px 3px 5px #333;
    padding: 1em;
    margin: 0.7em;
    box-sizing: border-box;
    /* height: 95%; */
    flex-wrap: wrap;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
    justify-content: space-evenly;  
}

#SPO2Plot {
    flex-shrink: 1;
    width: 80%;
}

#StepGauge {
    display: initial;
    align-self: center;
    width: 100%;
    margin: 0;
}

#BPMGauge {
    min-width: 50%;
}

#StepsDetail {
    flex-direction: row;
}
#Pressure {
    width: 100%;
    max-height: 90%;
    align-self: center;
}

div#userpanel {
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    padding: 24px;
    width: 100%;
    background-color: white;
    /* box-shadow: -2px 2px 5px #333; */
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 0;
}
div#userpanel > div {
    margin: auto;
}

div#userpanel.uservisible {
    opacity: 1;
    z-index: 3;
}

div#userpanel.fadeout {
    opacity: 0;
    z-index: 3;
}

div#userpanel h2 {
    text-align: center;
}

div#userpanel form > div, div#userpanel form > div > input {
    width: 100%;
}
div#userpanel form > div > i.material-icons {
    font-size: 1.1em;
    vertical-align: text-bottom;
    line-height: 1.1em;
    color: #AAA;
    float: right;
    cursor: default;
}
div#userpanel input {
    box-sizing: border-box;
    margin-bottom: 1em;
}
input.unit {
    padding-right: 1.6em;
}
span.unit {
    margin-left: -1.6em;
    font-size: 0.9em;
    opacity: 0.8;
}