html {
    height: 100%;
}
body {
    /* padding: 0px 24px 0px 0px; */
    padding: 0;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > div {
    height: 100%;
    /* flex-grow: 1; */
    display: flex;
}

header {
    position: relative;
    width: 100%;
    background-color: #222;
    box-shadow: 2px 2px 5px #222;
    font-size: 2.4em;
    padding: 0.6em;
    text-align: center;
    box-sizing: border-box;
    color: #EEE;
    z-index: 3;
    transition: background-color 0.25s;
}

#userlogo {
    position: absolute;
    right: 1em;
    top: 50%;
    /* background-color: #4455FF; */
    background-color: #3c6382;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.6em;
    margin-top: -0.8em;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    box-shadow: inset -1px -1px 2px #222;
    cursor: pointer;
    transition: box-shadow 0.1s;
}

#userlogo:hover {
    box-shadow: inset -2px -2px 5px #222
}

img#logo {
    height: 2em;
    /* margin: auto; */
}

nav {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1b242b;
}
nav > div {
    /* flex-grow: 1; */
}
article {
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    box-shadow: 2px 2px 5px #222;
    z-index: 2; 
    padding: 0 1em;
    background-color: #232c34;  
    overflow: hidden;  
}
article > div, article > div > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100%;
    min-height: 0;
}
.alarm {
    background-color: #FF1111 !important;
    z-index: 2;
    color: white;
}

nav > div.active {
    background-color: #3c6382;
    z-index: 2;
}

div.mainbutton {
    padding: 1em 0.7em;
    background-color: #373f49;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #111;     
    text-align: center;
    font-size: 1.6em;
    z-index: 1;
    min-width: 7em;
    transition: background-color 0.25s, color 0.25s;
    cursor: pointer;
    transition: box-shadow 0.1s, margin 0.1s;
}

div.mainbutton:hover, nav > div.active {
    box-shadow: 1px 1px 2px #111;
    /* margin-bottom: 14px; */
    /* margin-top: 18px; */
}

.ECG {
    color: turquoise;
    border-color: turquoise;
}
.PPG {
    color: #FF55EE;
    border-color: #DD22AA;
}
.Steps {
    color: yellow;
    border-color: yellow;
}

div#main {

}

div#main > div {
    height: 25%;
    border: 1px solid;
    margin: 16px;
}

div#PPGplotIR, div#PPGplotRD {
    height: 40%;
    border: 1px solid;
    margin: 0.7em;
}

.invisible {
    display: none;
}

.scanningplot {
    position: relative;
}

.plottitle {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    top: 0;
    padding: 2px;
}

.scanningplot > svg {
    width: 100%;
    height: 100%;
}

.buttonvalue {
    font-size: 2em;
}

.buttonunit {
    font-size: 0.9em;
}

#mainwindow {
    transition: filter 1s;
}
.offline {
    filter: blur(5px);
    pointer-events: none;    
}

.statfield {
    font-size: 1.2em;
    margin: 0.5em;
    box-sizing: border-box;
    min-width: 10em;
    flex-grow: 1;
}

input[type="radio"] {
    margin-right: 1em;
    margin-left: 1em;
}

.flexCol {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    min-width: 0;
    justify-content: space-evenly;    
}

.flexRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 0;
    justify-content: flex-start;
}

.gauge {
    height: 100%;
    margin: auto;
    padding: 1em;
    /* min-width: 25%; */
    width: 25%;
    box-sizing: border-box;
    /* display: inline; */
    align-self: center;
}

h3 {
    font-weight: normal;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

ul {
    margin-top: 0;
}

.statspage {
    background-color: white;
    color: #444;
    box-shadow: 2px 3px 5px #222;
    padding: 1em;
    margin: 1.7em 0.7em;
    box-sizing: border-box;
    /* height: 95%; */
    flex-wrap: wrap;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
    justify-content: space-evenly;  
}

#SPO2Plot {
    flex-shrink: 1;
    width: 80%;
}

#StepGauge {
    display: initial;
    align-self: center;
    width: 100%;
    margin: 0;
}

#BPMGauge {
    min-width: 50%;
}

#StepsDetail {
    flex-direction: row;
}
#Pressure {
    width: 100%;
    max-height: 90%;
    align-self: center;
}

div#userpanel {
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    padding: 24px;
    width: 100%;
    background-color: white;
    /* box-shadow: -2px 2px 5px #333; */
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 0;
}
div#userpanel > div {
    margin: auto;
}

div#userpanel.uservisible {
    opacity: 1;
    z-index: 3;
}

div#userpanel.fadeout {
    opacity: 0;
    z-index: 3;
}

div#userpanel h2 {
    text-align: center;
}

#userform > div, #userform > div > input {
    width: 100%;
}
#userform > div > i.material-icons {
    font-size: 1.1em;
    vertical-align: text-bottom;
    line-height: 1.1em;
    color: #AAA;
    float: right;
    cursor: default;
}
div#userpanel input {
    box-sizing: border-box;
    margin-bottom: 1em;
}
input.unit {
    padding-right: 1.6em;
}
span.unit {
    margin-left: -1.6em;
    font-size: 0.9em;
    opacity: 0.8;
}

#usericon {
    position: absolute;
}

div#userbuttons > input, div#userbuttons > button {
    width: 40%;
    margin: auto;
}

img#colorbar {
    width: auto;
    height: auto;
    margin: auto;
    max-width: 90%;
}

#Pressure > svg {
    padding: 2em;
}

/* ----------------------------------------- */

.dropbtn {
    background-color: #3c6382;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;    
}

.dropdown-content div {
    color: black;
    padding: 0.6em 1em;
}

.dropdown-content div:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3c63aa;
}